#content {
    margin: auto;
    width: 75%;
}

#roomlist {
    border: solid black 1px;
    margin: auto;
}

#controls {
    display: none;
}
html {
    background-color: lightsteelblue;
}
h1 {
    font-family: impact;
    font-size: 50px;
    text-shadow: 6px 2px 5px #333333;
    text-align: center
}
